@model Curso

@{
    ViewData["Title"] = "Creación de Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>

<div asp-validation-summary="All"></div>

<partial name="_FormCurso" />

<p><i>@ViewBag.Fecha</i></p>